@page
@model WebApplication1.Pages.AboutUs
@{
}

<div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">About Us</h1>
        <p class="lead text-muted">We work together to provide you the best experience in your job search process.We are an award- winning agency. Read below about our dedicated emloyees</p>
       
    </div>
</div>
<div class="album py-5 bg-light">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            
            
            <div class="col">
                <div class="card shadow-sm">
                    <img src="https://img.nbc.com/sites/nbcunbc/files/metaverse_assets/1/0/6/3/3/2/dwight-500x500.jpg" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Dwight Schrute" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></img>

                    <div class="card-body">
                        <p class="card-text">Dwight Schrute  is one of the highest-ranking salesmen as well as the original assistant to the regional manager</p>
                        
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card shadow-sm">
                    <img src="https://nofilmschool.com/sites/default/files/styles/facebook/public/tv-the_office_us-2005_2013-michael_scott-steve_carell-accessories-s01e01-worlds_best_boss_mug.jpg?itok=66DcbQaw" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Micheal Scott" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /><img>

                    <div class="card-body">
                        <p class="card-text">Micheal Scott is the regional manager at the Scranton Branch.He belives in "A good manager doesn't fire people. He hires people and inspires people. … People, Ryan. And people will never go out of business"</p>
                        
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="https://media-exp1.licdn.com/dms/image/C5103AQHfQObjvjjHAw/profile-displayphoto-shrink_200_200/0/1548312159275?e=2147483647&v=beta&t=IpKLFc2YUycc5BHirFd423TESXTpGz5UYVNDBddS7NA" class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder:" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c" /></img>

                    <div class="card-body">
                        <p class="card-text">Tejaswini Sapkota is the Chief Technology Officer.She has a passion for Digital Transformation</p>
                        
                    </div>
                </div>
            </div>
            
            
            
            
        </div>
    </div>
</div>