@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="" style="color:lightslategrey">
    <div class="container page-header">
        <div class="row">
            <div class="col">
                <p class="h2 d-flex justify-content-center align-middle page-header" style="margin-top:30px;color:#263238!important;">Careers at Tejaswini Sapkota Consulation Company</p>
            </div>
        </div>
    </div>
    @*<div class="container">*@
        <div class="row" style="margin-top:30px;">
            <div class="col-6" style:"maximum-height:458px;">
                <img class="img-fluid" src="https://img.freepik.com/free-photo/ai-background-business-technology-digital-transformation_53876-129771.jpg?w=996&t=st=1662523034~exp=1662523634~hmac=7085073f352936279dea9d6b181f6d209a130e390b264ead488689e6468c72f5" />
                
   
            </div>
            <div class="col-6">
                
                <div class="container-fluid text-center justify-content-center">
                    <div class="container px-4 py-5" id="custom-cards">
                        <h2 class="pb-4 border-bottom">Specialisation</h2>
                        <h4 class="pb-2 border-bottom">Information Technology</h4>
                        <h4 class="pb-2 border-bottom">Finance</h4>
                        <h4 class="pb-2 border-bottom">Business</h4>
                        <h4 class="pb-2 border-bottom">Project Mangement</h4>
                        <h4 class="pb-2 border-bottom">Data Analysis</h4>

                     </div>
                   </div>
                </div>
    
    <div class="container" style="margin-top:3%">
        <div class="row">
            <div class="col-12 d-flex justify-content-center align-middle" >
                <h4>Our Mission</h4>
                
            </div>
        </div>
         <div class="row">
            <div class="col-6" style="line-height: 58px;">
                Digitalization has always necessitated humans to rethink traditional practices and notions. The pandemic era, which saw our offices and schools move into living rooms and basements, compelled us to rewire how we connect, learn, work, and entertain. This quantum leap of digital adoption motivates me to play my part. At the intersection of Information Science and Human Resources, I seek to inaugurate novel people-centric technological reforms.
            </div>
            <div class="col-6" style="max-height: 543px;">
                <img class="img-fluid" src="https://s3.amazonaws.com/omiweb/wp-content/uploads/2018/06/12121739/digital_transformation.jpg" />
            </div>
        </div>
    </div>

    <div class="container" style="margin-bottom: 58px;">
        <div class="row">
            <div class="col-4" style="max-height:100px;">
                <img class="img-fluid" src="https://www.publicdomainpictures.net/pictures/160000/nahled/coeur-rose-sur-fond-blanc.jpg" style="height:100px;" />
            
                <p class="h5">Comprehensive health plans</p>
            </div>
            <div class="col-4" style="max-height:100px;">

                <img class="img-fluid" src="https://t4.ftcdn.net/jpg/02/29/32/67/360_F_229326775_dv1D8QAGaIpyrhnniBjmQZcVDwxkhPVA.jpg" style="height:100px;" />
                
                <p class="h5">Learning and development</p>
            </div>
            <div class="col-4" style="max-height:100px;">

                <img class="img-fluid" src="https://img.freepik.com/premium-vector/calendar-reminder-date-spiral-icon-red-circle-style-simple-calendar-mark-date-holiday-important-day-concepts-vector-illustration-flat-style_165488-4093.jpg?w=2000" style="height:100px;" />

                <p class="h5">Work Life Balance</p>
            </div>

        </div>
    </div>
    <div class="container px-4 py-5" id="custom-cards">
        <h2 class="pb-2 border-bottom">Testimonials</h2>

        <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://img.freepik.com/free-photo/young-beautiful-brunette-businesswoman-smiling-pointing-finger-side_176420-9925.jpg?t=st=1662526006~exp=1662526606~hmac=18708d2c128a87357e88e2b281aee5d05b80d0b6dd92439e5528648ccc89a70c');">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold" style="color:black">Supportive Employees who are available 24/7. Will recommend</h2>
                       
                       
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://img.freepik.com/free-photo/closeup-portrait-beautiful-smiling-brunette-model-trendy-girl-posing-street_158538-17019.jpg?t=st=1662494467~exp=1662495067~hmac=de5858947e4b8fc058aa01d013f9728fb0d075aee4b403a0ffd01451f0190254');">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold" style="color:black">Great Training</h2>


                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('https://img.freepik.com/free-photo/portrait-beautiful-smiling-blond-model-dressed-summer-hipster-clothes_158538-5482.jpg?w=900&t=st=1662525196~exp=1662525796~hmac=298489d7835d5a058003eef4e845cf98224da22b47685f5182e2eeb61beae442');">
                    <div class="d-flex flex-column h-100 p-5 pb-3 text-shadow-1">
                        <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold" style="color:black">Amazing customer Service</h2>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container px-4 py-5" id="icon-grid">
        <h2 class="pb-2 border-bottom">
            Services Provided</h2>

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
                <div class="col d-flex align-items-start">
                    <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#bootstrap" /></svg>
                    <div>
                        <h4 class="fw-bold mb-0">Resume Building </h4>
                        <p>Up to date resume formats</p>
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#cpu-fill" /></svg>
                    <div>
                        <h4 class="fw-bold mb-0">Mock Interviews</h4>
                        <p>Conducts free mock requirements</p>
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#calendar3" /></svg>
                    <div>
                        <h4 class="fw-bold mb-0">Trainings</h4>
                        <p>Trainings on new technologies</p>
                    </div>
                </div>

            </div>
    </div>
    <h2 class="pb-2 border-bottom">
        Steps for Application
    </h2>
    <div class="list-group mx-0 w-auto">
        <label class="list-group-item d-flex gap-2">
            <input class="form-check-input flex-shrink-0" type="checkbox" value="" checked>
            <span>
                Create an Account
                
            </span>
        </label>
        <label class="list-group-item d-flex gap-2">
            <input class="form-check-input flex-shrink-0" type="checkbox" value="">
            <span>
               Login
               
            </span>
        </label>
        <label class="list-group-item d-flex gap-2">
            <input class="form-check-input flex-shrink-0" type="checkbox" value="">
            <span>
                Search for Jobs
                <small class="d-block text-muted">We provide access to 100,000 jobs everydays</small>
            </span>
        </label>
        <label class="list-group-item d-flex gap-2">
            <input class="form-check-input flex-shrink-0" type="checkbox" value="">
            <span>
               Upload CV
                <small class="d-block text-muted">Verified by experts </small>
            </span>
        </label>
        <label class="list-group-item d-flex gap-2">
            <input class="form-check-input flex-shrink-0" type="checkbox" value="">
            <span>
               Apply
                <small class="d-block text-muted">We provide mock interviews to help you prepare better  </small>
            </span>
        </label>
    </div>
    <div class="container-fluid bg-grey">
        <h2 class="text-center">CONTACT</h2>
        <div class="row">
            <div class="col-sm-5">
                <p>Contact us and we'll get back to you within 24 hours.</p>
                <p><span class="glyphicon glyphicon-map-marker"></span> Ohio, US</p>
                <p><span class="glyphicon glyphicon-phone"></span> +00 1515151515</p>
                <p><span class="glyphicon glyphicon-envelope"></span> myemail@something.com</p>
            </div>
    </div>
</div>

